body {
        background: linear-gradient(135deg, #eca2d4, #b792e7);
        background-attachment: fixed;
        font-family: sans-serif;
      }
h1 a{
        font-size: 1.5em;
        color: #ffffff;
        font-family: 'Meddon', static;
        text-decoration: none;
        text-shadow: 0px 0px 5px rgb(225, 25, 122), 0px 0px 10px rgb(225, 25, 122), 0px 0px 15px #ffffff, 0px 0px 20px #ffffff, 0px 0px 25px #ffffff;
      }

h1 {
    text-align: center;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

header {
    background: linear-gradient(105deg, rgba(255, 164, 214, 1) 10%, rgba(255, 201, 139, 1) 30%, rgba(255, 255, 159, 1) 40%, rgba(214, 255, 197, 1) 50%, rgba(207, 255, 213, 1) 60%, rgba(207, 255, 238, 1) 70%, rgba(207, 255, 238, 1) 80%, rgba(208, 220, 235, 1) 90%, rgba(229, 196, 224, 1) 100%);
    box-shadow: 0px 11px 5px #FFFFDD99 inset, 0px -5px 10px #FFFFDD99 inset;
    width: 1000px;
    text-align: center;
    margin: 0 auto 1px auto;
    border-radius: 30px 30px 0px 0px;
}